<!doctype html>
<html lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="views/shared/_layout">

<head>
    <meta charset="UTF-8">
    <title>로그인 페이지 </title>
    <meta name="description" content="Scarica gratis il nostro Template HTML/CSS GARAGE. Se avete bisogno di un design per il vostro sito web GARAGE può fare per voi. Web Domus Italia">
    <meta name="author" content="Web Domus Italia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{source/bootstrap-3.3.6-dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{source/font-awesome-4.5.0/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{style/slider.css}">
    <link rel="stylesheet" th:href="@{/style/mystyle.css}">
</head>
<body>

  <div layout:fragment="content">

      <form class="form-signin" th:action="@{/signin}" method="post">
          <h1 class="h3 mb-3 font-weight-normal">로그인</h1>

          <div th:if="${param.error}"  class="alert alert-danger" role="alert">
              유효하지 않은 아이디나 비밀번호입니다.
          </div>

          <div th:if="${param.logout}"  class="alert alert-primary" role="alert">
              You have been logged out
          </div>

          <label for="username" class="sr-only">username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="username" required autofocus>

          <label for="password" class="sr-only">password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="password" required>

          <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>

      </form>

  </div>

</body>
</html>